@model List<DATN64.Models.NhaCungCap>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewData["Title"] = "Qu?n lż NCC"; }
<div class="container my-5">
    <h2>Qu?n lż Nhŗ Cung C?p</h2>
    <table class="table">
        <thead><tr><th>M„ NCC</th><th>TÍn NCC</th><th>S? –i?n Tho?i</th></tr></thead>
        <tbody>
            @foreach(var item in Model) {
                <tr><td>@item.MaNCC</td><td>@item.TenNCC</td><td>@item.SoDienThoai</td></tr>
            }
        </tbody>
    </table>
</div>
