USE [db52551]
GO
/****** Object:  FullTextCatalog [db52551]    Script Date: 7/28/2026 6:05:27 PM ******/
CREATE FULLTEXT CATALOG [db52551] WITH ACCENT_SENSITIVITY = ON
AS DEFAULT
GO
/****** Object:  Table [dbo].[CauHinh]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CauHinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenCuaHang] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[Logo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayCham] [datetime] NOT NULL,
	[GioVao] [datetime] NULL,
	[GioRa] [datetime] NULL,
	[TongGioLam] [float] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CongNoNCC]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNoNCC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[MaPhieuNhap] [int] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[DaThanhToan] [decimal](18, 2) NOT NULL,
	[ConNo]  AS ([TongTien]-[DaThanhToan]),
	[NgayTao] [datetime] NOT NULL,
	[HanThanhToan] [datetime] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInboxMessage]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInboxMessage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ThreadId] [int] NOT NULL,
	[Sender] [nvarchar](50) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsAutoReply] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerInboxThread]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInboxThread](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CustomerPhone] [nvarchar](20) NULL,
	[Channel] [nvarchar](50) NOT NULL,
	[Subject] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaNhanVien] [int] NULL,
	[NgayDat] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang_Voucher]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang_Voucher](
	[MaDonHang] [int] NOT NULL,
	[MaVoucher] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC,
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiThoaiKhachHang]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiThoaiKhachHang](
	[MaHoiThoai] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[TenKhachHang] [nvarchar](150) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Kenh] [nvarchar](50) NOT NULL,
	[ChuDe] [nvarchar](255) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[MucDoUuTien] [nvarchar](50) NOT NULL,
	[CapNhatLuc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoiThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InventoryTransaction]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventoryTransaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[ProductSKU] [nvarchar](max) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[QuantityChange] [int] NOT NULL,
	[Creator] [nvarchar](max) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
	[MaKho] [int] NULL,
	[MaKhoNguon] [int] NULL,
	[MaKhoDich] [int] NULL,
	[SoLuongTruoc] [int] NULL,
	[SoLuongSau] [int] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NguoiDuyet] [nvarchar](max) NULL,
	[NgayDuyet] [datetime] NULL,
	[LyDoTuChoi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[DiemTichLuy] [int] NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [int] IDENTITY(1,1) NOT NULL,
	[TenKho] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](200) NOT NULL,
	[SoDienThoai] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[DiaChi] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[Email] [varchar](100) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[MatKhau] [varchar](255) NOT NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[LuongTheoGio] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienRole]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NOT NULL,
	[MaNhanVien] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermission]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[MaDanhMuc] [int] NOT NULL,
	[MaThuongHieu] [int] NOT NULL,
	[MaNCC] [int] NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[SKU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamBienThe]    Script Date: 7/28/2026 6:05:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamBienThe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPhamCha] [int] NOT NULL,
	[TenBienThe] [nvarchar](255) NOT NULL,
	[NhomBienThe1] [nvarchar](100) NULL,
	[GiaTriBienThe1] [nvarchar](100) NULL,
	[NhomBienThe2] [nvarchar](100) NULL,
	[GiaTriBienThe2] [nvarchar](100) NULL,
	[SKU] [nvarchar](100) NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[GiaNhap] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](500) NULL,
	[MaMau] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[ThuTu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoQuy]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoQuy](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaGiaoDich] [nvarchar](50) NOT NULL,
	[LoaiGiaoDich] [nvarchar](10) NOT NULL,
	[NhomGiaoDich] [nvarchar](100) NOT NULL,
	[SoTien] [decimal](18, 2) NOT NULL,
	[NgayGiaoDich] [datetime] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NOT NULL,
	[DoiTuongGiaoDich] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[MaNhanVien] [int] NOT NULL,
	[MaDonHang] [int] NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[CongNoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemNotification]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemNotification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongSoKyThuat]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongSoKyThuat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[NhomThongSo] [nvarchar](200) NOT NULL,
	[TenThongSo] [nvarchar](200) NOT NULL,
	[GiaTri] [nvarchar](max) NOT NULL,
	[ThuTu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[MaThuongHieu] [int] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThuongHieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TikTokShopConfig]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TikTokShopConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsConnected] [bit] NOT NULL,
	[ShopName] [nvarchar](max) NOT NULL,
	[ShopId] [nvarchar](max) NOT NULL,
	[LastSyncTime] [datetime] NOT NULL,
	[SyncStatus] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TikTokSyncLog]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TikTokSyncLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinNhanKhachHang]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinNhanKhachHang](
	[MaTinNhan] [int] IDENTITY(1,1) NOT NULL,
	[MaHoiThoai] [int] NOT NULL,
	[NguoiGui] [nvarchar](50) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[ThoiGianGui] [datetime] NOT NULL,
	[DaDoc] [bit] NOT NULL,
	[LaTraLoiTuDong] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinNhan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[MaVoucher] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [varchar](50) NULL,
	[GiaTri] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[HinhThuc] [nvarchar](50) NOT NULL,
	[DonHangToiThieu] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVoucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YeuThich]    Script Date: 7/28/2026 6:05:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuThich](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CauHinh] ON 

INSERT [dbo].[CauHinh] ([Id], [TenCuaHang], [Email], [SoDienThoai], [DiaChi], [Logo]) VALUES (1, N'NovaTech ', N'contact@novatech.vn', N'1800 5555', N'123 Đường Hiệp Hòa, TP.Biên Hòa', N'/uploads/logo/59b845be-a077-4b2f-86b5-375f6649a320_NovaTech-Logo.png')
SET IDENTITY_INSERT [dbo].[CauHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([Id], [MaNhanVien], [NgayCham], [GioVao], [GioRa], [TongGioLam], [GhiChu], [TrangThai]) VALUES (1, 1, CAST(N'2026-06-25T00:00:00.000' AS DateTime), CAST(N'2026-06-25T19:51:09.477' AS DateTime), CAST(N'2026-06-25T19:52:11.683' AS DateTime), 0.02, NULL, N'Hoàn thành')
INSERT [dbo].[ChamCong] ([Id], [MaNhanVien], [NgayCham], [GioVao], [GioRa], [TongGioLam], [GhiChu], [TrangThai]) VALUES (2, 1, CAST(N'2026-06-26T00:00:00.000' AS DateTime), CAST(N'2026-06-26T14:57:00.073' AS DateTime), CAST(N'2026-06-26T15:34:45.800' AS DateTime), 0.63, NULL, N'Hoàn thành')
INSERT [dbo].[ChamCong] ([Id], [MaNhanVien], [NgayCham], [GioVao], [GioRa], [TongGioLam], [GhiChu], [TrangThai]) VALUES (3, 6, CAST(N'2026-06-26T00:00:00.000' AS DateTime), CAST(N'2026-06-26T15:27:13.540' AS DateTime), CAST(N'2026-06-26T15:28:07.693' AS DateTime), 0.02, NULL, N'Hoàn thành')
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (1, 1, 1, 1, CAST(22000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (2, 1, 4, 1, CAST(350000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaSanPham], [SoLuong], [DonGia]) VALUES (3, 2, 2, 1, CAST(19000000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] ON 

INSERT [dbo].[ChiTietPhieuNhap] ([MaChiTiet], [MaPhieuNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (1, 1, 1, 20, CAST(18000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaChiTiet], [MaPhieuNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (2, 2, 2, 15, CAST(15000000.00 AS Decimal(18, 2)))
INSERT [dbo].[ChiTietPhieuNhap] ([MaChiTiet], [MaPhieuNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (3, 3, 3, 10, CAST(12000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ChiTietPhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[CongNoNCC] ON 

INSERT [dbo].[CongNoNCC] ([Id], [MaNCC], [MaPhieuNhap], [TongTien], [DaThanhToan], [NgayTao], [HanThanhToan], [TrangThai]) VALUES (1, 1, 4, CAST(180000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-25T13:22:05.193' AS DateTime), CAST(N'2026-07-25T13:22:05.193' AS DateTime), N'ChuaThanhToan')
INSERT [dbo].[CongNoNCC] ([Id], [MaNCC], [MaPhieuNhap], [TongTien], [DaThanhToan], [NgayTao], [HanThanhToan], [TrangThai]) VALUES (2, 1, 5, CAST(2500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-25T13:27:14.610' AS DateTime), CAST(N'2026-07-25T13:27:14.610' AS DateTime), N'ChuaThanhToan')
INSERT [dbo].[CongNoNCC] ([Id], [MaNCC], [MaPhieuNhap], [TongTien], [DaThanhToan], [NgayTao], [HanThanhToan], [TrangThai]) VALUES (3, 1, 6, CAST(2500000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(N'2026-06-25T14:01:14.623' AS DateTime), CAST(N'2026-07-25T14:01:14.623' AS DateTime), N'ChuaThanhToan')
SET IDENTITY_INSERT [dbo].[CongNoNCC] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerInboxMessage] ON 

INSERT [dbo].[CustomerInboxMessage] ([Id], [ThreadId], [Sender], [Text], [Timestamp], [IsRead], [IsAutoReply]) VALUES (14, 3, N'customer', N'hello', CAST(N'2026-06-29T18:55:08.867' AS DateTime), 1, 0)
INSERT [dbo].[CustomerInboxMessage] ([Id], [ThreadId], [Sender], [Text], [Timestamp], [IsRead], [IsAutoReply]) VALUES (15, 3, N'staff', N'Anh/chị vui lòng chờ, admin sẽ phản hồi lại sau 10 phút.', CAST(N'2026-06-29T18:55:09.867' AS DateTime), 1, 1)
INSERT [dbo].[CustomerInboxMessage] ([Id], [ThreadId], [Sender], [Text], [Timestamp], [IsRead], [IsAutoReply]) VALUES (16, 3, N'staff', N'lo cc', CAST(N'2026-06-29T18:55:36.113' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[CustomerInboxMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerInboxThread] ON 

INSERT [dbo].[CustomerInboxThread] ([Id], [CustomerId], [CustomerName], [CustomerPhone], [Channel], [Subject], [Status], [Priority], [UpdatedAt]) VALUES (3, 0, N'huydepchai', N'', N'Store', N'Chat hỗ trợ NovaTech', N'Replied', N'Medium', CAST(N'2026-07-16T02:10:51.737' AS DateTime))
INSERT [dbo].[CustomerInboxThread] ([Id], [CustomerId], [CustomerName], [CustomerPhone], [Channel], [Subject], [Status], [Priority], [UpdatedAt]) VALUES (4, 0, N'Nguyễn Văn A', N'', N'Store', N'Chat hỗ trợ NovaTech', N'Replied', N'Medium', CAST(N'2026-06-30T14:56:55.490' AS DateTime))
INSERT [dbo].[CustomerInboxThread] ([Id], [CustomerId], [CustomerName], [CustomerPhone], [Channel], [Subject], [Status], [Priority], [UpdatedAt]) VALUES (5, 0, N'Super Admin Demo', N'', N'Store', N'Chat hỗ trợ NovaTech', N'Processing', N'Medium', CAST(N'2026-07-02T04:37:24.770' AS DateTime))
SET IDENTITY_INSERT [dbo].[CustomerInboxThread] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (1, N'Điện thoại', N'Các dòng điện thoại thông minh')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (2, N'Laptop', N'Các dòng máy tính xách tay')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc], [MoTa]) VALUES (3, N'Phụ kiện', N'Phụ kiện công nghệ')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaNhanVien], [NgayDat], [TongTien], [TrangThai], [PhuongThucThanhToan], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-06-24T03:47:17.447' AS DateTime), CAST(22350000.00 AS Decimal(18, 2)), N'Đã thanh toán', N'Tiền mặt', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaNhanVien], [NgayDat], [TongTien], [TrangThai], [PhuongThucThanhToan], [GhiChu]) VALUES (2, 2, 2, CAST(N'2026-06-24T03:47:17.447' AS DateTime), CAST(19000000.00 AS Decimal(18, 2)), N'Đang giao', N'Chuyển khoản', NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaNhanVien], [NgayDat], [TongTien], [TrangThai], [PhuongThucThanhToan], [GhiChu]) VALUES (3, 3, 3, CAST(N'2026-06-24T03:47:17.447' AS DateTime), CAST(350000.00 AS Decimal(18, 2)), N'Hoàn thành', N'Tiền mặt', NULL)
GO
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
INSERT [dbo].[DonHang_Voucher] ([MaDonHang], [MaVoucher]) VALUES (1, 1)
INSERT [dbo].[DonHang_Voucher] ([MaDonHang], [MaVoucher]) VALUES (2, 2)
INSERT [dbo].[DonHang_Voucher] ([MaDonHang], [MaVoucher]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[InventoryTransaction] ON 

INSERT [dbo].[InventoryTransaction] ([Id], [Code], [Type], [ProductSKU], [ProductName], [QuantityChange], [Creator], [Date], [Note], [MaKho], [MaKhoNguon], [MaKhoDich], [SoLuongTruoc], [SoLuongSau], [TrangThai], [NguoiDuyet], [NgayDuyet], [LyDoTuChoi]) VALUES (1, N'CK000001', N'Chuyển kho', N'1', N'iPhone 15', 10, N'Nguyễn Văn A', CAST(N'2026-06-25T13:19:14.757' AS DateTime), N'pro (Từ: Kho chính -> Đến: Kho cửa hàng)', NULL, 1, 2, 50, 50, N'Đã duyệt', NULL, NULL, NULL)
INSERT [dbo].[InventoryTransaction] ([Id], [Code], [Type], [ProductSKU], [ProductName], [QuantityChange], [Creator], [Date], [Note], [MaKho], [MaKhoNguon], [MaKhoDich], [SoLuongTruoc], [SoLuongSau], [TrangThai], [NguoiDuyet], [NgayDuyet], [LyDoTuChoi]) VALUES (2, N'CK000002', N'Chuyển kho', N'1', N'iPhone 15', 10, N'Nguyễn Văn A', CAST(N'2026-06-25T13:19:44.167' AS DateTime), N'p (Từ: Kho cửa hàng -> Đến: Kho chính)', NULL, 2, 1, 50, 50, N'Đã duyệt', NULL, NULL, NULL)
INSERT [dbo].[InventoryTransaction] ([Id], [Code], [Type], [ProductSKU], [ProductName], [QuantityChange], [Creator], [Date], [Note], [MaKho], [MaKhoNguon], [MaKhoDich], [SoLuongTruoc], [SoLuongSau], [TrangThai], [NguoiDuyet], [NgayDuyet], [LyDoTuChoi]) VALUES (3, N'DC000001', N'Điều chỉnh', N'1', N'iPhone 15', 1, N'Nguyễn Văn A', CAST(N'2026-06-25T13:20:48.627' AS DateTime), N'Lý do: Sai lệch kiểm kho. Ghi chú: p', 1, NULL, NULL, 50, 51, N'Đã duyệt', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[InventoryTransaction] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai], [NgayTao]) VALUES (1, N'Phạm Minh Hùng', N'0981111111', N'hung@gmail.com', N'Bình Dương', 100, N'AQAAAAIAAYagAAAAEHJXCTRX97Exr0ysZgiSWr91yg6PJJ7k9htkMCnpZPAyE5Ww1SojDqAUEwDvLZH1sA==', N'Hoạt động', CAST(N'2026-06-25T11:49:46.567' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai], [NgayTao]) VALUES (2, N'Nguyễn Thị Lan', N'0982222222', N'lan@gmail.com', N'Hồ Chí Minh', 50, N'123456', N'Hoạt động', CAST(N'2026-06-25T11:49:46.567' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [Email], [DiaChi], [DiemTichLuy], [MatKhau], [TrangThai], [NgayTao]) VALUES (3, N'Trần Quốc Bảo', N'0983333333', N'bao@gmail.com', N'Đồng Nai', 20, N'AQAAAAIAAYagAAAAENS6Fn36ci9sM7vGGw7hVr/OA+5SzOuSBPYrNlT0AffRSGFAbH+2mF8hgfwfvvp+lg==', N'Hoạt động', CAST(N'2026-06-25T11:49:46.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoHang] ON 

INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MoTa], [TrangThai], [NgayTao]) VALUES (1, N'Kho chính', N'Kho lưu trữ hàng hóa chính của công ty', 1, CAST(N'2026-06-25T06:11:19.533' AS DateTime))
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MoTa], [TrangThai], [NgayTao]) VALUES (2, N'Kho cửa hàng', N'Kho hàng trực tiếp phục vụ bán lẻ tại cửa hàng', 1, CAST(N'2026-06-25T06:11:19.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhoHang] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai], [Email], [DiaChi]) VALUES (1, N'Công ty ABC', N'0901111111', N'abc@gmail.com', N'Hồ Chí Minh')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai], [Email], [DiaChi]) VALUES (2, N'Công ty XYZ', N'0902222222', N'xyz@gmail.com', N'Hà Nội')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai], [Email], [DiaChi]) VALUES (3, N'Công ty Minh Phát', N'0903333333', N'minhphat@gmail.com', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [Email], [SoDienThoai], [MatKhau], [VaiTro], [TrangThai], [LuongTheoGio]) VALUES (1, N'Nguyễn Hoàng Khôn', N'nva@gmail.com', N'0911111111', N'AQAAAAIAAYagAAAAEEC7FJCTl6mjd+NgP1SctBpxxrsTT4RMC6mUMyQ9V5v95Ml3ZV+YvRHgtR7hfQ0oUQ==', N'Admin', N'Hoạt động', CAST(36000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [Email], [SoDienThoai], [MatKhau], [VaiTro], [TrangThai], [LuongTheoGio]) VALUES (2, N'0922222223', N'ttb@gmail.com', N'0922222222', N'AQAAAAIAAYagAAAAEF+t6k28dZNKwV3xu3dXeMukTzqbxuwBlItpdTruA0hG4PK2HgrOswG0PwtpJlHcVg==', N'Nhân viên bán hàng', N'Hoạt động', CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([MaNhanVien], [HoTen], [Email], [SoDienThoai], [MatKhau], [VaiTro], [TrangThai], [LuongTheoGio]) VALUES (3, N'Lê Văn Triệu', N'lvt@gmail.com', N'0933333333', N'AQAAAAIAAYagAAAAEM1/3mgO9LYWY5/jyB0CXsp3jy9WQPPcbq66bkUvOkt9bGjdH9ybBE9cHgtNtRqQEQ==', N'Nhân viên bán hàng', N'Hoạt động', CAST(18000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVienRole] ON 

INSERT [dbo].[NhanVienRole] ([Id], [MaNhanVien], [RoleId]) VALUES (7, 4, 1)
INSERT [dbo].[NhanVienRole] ([Id], [MaNhanVien], [RoleId]) VALUES (13, 10, 8)
INSERT [dbo].[NhanVienRole] ([Id], [MaNhanVien], [RoleId]) VALUES (14, 11, 3)
SET IDENTITY_INSERT [dbo].[NhanVienRole] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuNhap] ON 

INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [MaNhanVien], [NgayNhap]) VALUES (1, 1, 1, CAST(N'2026-06-24T03:47:17.460' AS DateTime))
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [MaNhanVien], [NgayNhap]) VALUES (2, 2, 2, CAST(N'2026-06-24T03:47:17.460' AS DateTime))
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNCC], [MaNhanVien], [NgayNhap]) VALUES (3, 3, 3, CAST(N'2026-06-24T03:47:17.460' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhieuNhap] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (1, N'Admin', N'Quản trị viên toàn hệ thống')
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (2, N'Quản lý kho', N'Quản lý hàng hóa, tồn kho, xuất nhập kho')
INSERT [dbo].[Role] ([Id], [Name], [Description]) VALUES (3, N'Nhân viên bán hàng', N'Xem sản phẩm, bán hàng và quản lý khách hàng')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[RolePermission] ON 

INSERT [dbo].[RolePermission] ([Id], [RoleName], [PermissionName]) VALUES (22, N'Quản lý kho', N'View_Product')
INSERT [dbo].[RolePermission] ([Id], [RoleName], [PermissionName]) VALUES (23, N'Quản lý kho', N'Create_Product')
INSERT [dbo].[RolePermission] ([Id], [RoleName], [PermissionName]) VALUES (24, N'Quản lý kho', N'Edit_Product')
SET IDENTITY_INSERT [dbo].[RolePermission] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [MaThuongHieu], [MaNCC], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh], [TrangThai], [SKU]) VALUES (1, N'iPhone 15 Thường', 1, 1, 1, CAST(16000000.00 AS Decimal(18, 2)), CAST(19990000.00 AS Decimal(18, 2)), 50, N'Điện thoại Apple iPhone 15', N'/uploads/iphone15_thuong.png', N'Đang bán', N'AP-IP15T-128GB-BLK')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [MaThuongHieu], [MaNCC], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh], [TrangThai], [SKU]) VALUES (2, N'Samsung Galaxy S24', 1, 2, 2, CAST(15000000.00 AS Decimal(18, 2)), CAST(18990000.00 AS Decimal(18, 2)), 21, N'Điện thoại Samsung Galaxy S24', N'https://images.unsplash.com/photo-1610945265064-0e34e5519bbf?auto=format&fit=crop&w=600&q=80', N'Đang bán', N'SS-S24-256GB-YLW')
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [MaThuongHieu], [MaNCC], [GiaNhap], [GiaBan], [SoLuongTon], [MoTa], [HinhAnh], [TrangThai], [SKU]) VALUES (3, N'Asus Vivobook 15', 2, 3, 3, CAST(12000000.00 AS Decimal(18, 2)), CAST(15000000.00 AS Decimal(18, 2)), 47, N'Laptop Asus Vivobook', N'vivobook15.jpg', N'Đang bán', NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SoQuy] ON 

INSERT [dbo].[SoQuy] ([Id], [MaGiaoDich], [LoaiGiaoDich], [NhomGiaoDich], [SoTien], [NgayGiaoDich], [PhuongThucThanhToan], [DoiTuongGiaoDich], [GhiChu], [MaNhanVien], [MaDonHang], [TrangThai], [CongNoId]) VALUES (1, N'PT-00001', N'Thu', N'Bán hàng', CAST(350000.00 AS Decimal(18, 2)), CAST(N'2026-06-24T03:47:17.447' AS DateTime), N'Tiền mặt', N'Trần Quốc Bảo', N'Thu tiền đơn hàng #3 từ hệ thống bán hàng', 3, 3, N'Đã duyệt', NULL)
INSERT [dbo].[SoQuy] ([Id], [MaGiaoDich], [LoaiGiaoDich], [NhomGiaoDich], [SoTien], [NgayGiaoDich], [PhuongThucThanhToan], [DoiTuongGiaoDich], [GhiChu], [MaNhanVien], [MaDonHang], [TrangThai], [CongNoId]) VALUES (2, N'PT-00002', N'Thu', N'Bán hàng', CAST(18500000.00 AS Decimal(18, 2)), CAST(N'2026-06-25T15:02:53.303' AS DateTime), N'Chuyển khoản', N'Phạm Minh Hùng', N'Thu tiền đơn hàng #22 từ hệ thống bán hàng', 1, 22, N'Đã duyệt', NULL)
INSERT [dbo].[SoQuy] ([Id], [MaGiaoDich], [LoaiGiaoDich], [NhomGiaoDich], [SoTien], [NgayGiaoDich], [PhuongThucThanhToan], [DoiTuongGiaoDich], [GhiChu], [MaNhanVien], [MaDonHang], [TrangThai], [CongNoId]) VALUES (3, N'PT-00003', N'Thu', N'Bán hàng', CAST(14500000.00 AS Decimal(18, 2)), CAST(N'2026-06-25T15:15:23.150' AS DateTime), N'Tiền mặt', N'Khách Hàng Vãng Lai', N'Thu tiền đơn hàng #25 từ hệ thống bán hàng', 1, 25, N'Đã duyệt', NULL)
SET IDENTITY_INSERT [dbo].[SoQuy] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemNotification] ON 

INSERT [dbo].[SystemNotification] ([Id], [Title], [Message], [Type], [Timestamp], [IsRead]) VALUES (1, N'Đơn hàng Website mới', N'Khách hàng long vừa đặt đơn hàng #8 trị giá 41,000,000 đ.', N'Đơn mới', CAST(N'2026-06-25T13:53:05.740' AS DateTime), 1)
INSERT [dbo].[SystemNotification] ([Id], [Title], [Message], [Type], [Timestamp], [IsRead]) VALUES (2, N'Đơn hàng Website mới', N'Khách hàng long vừa đặt đơn hàng #9 trị giá 34,000,000 đ.', N'Đơn mới', CAST(N'2026-06-25T13:54:13.710' AS DateTime), 1)
INSERT [dbo].[SystemNotification] ([Id], [Title], [Message], [Type], [Timestamp], [IsRead]) VALUES (15, N'Đơn POS mới', N'Đơn hàng trị giá 18,500,000 đ vừa được thanh toán tại quầy.', N'Đơn mới', CAST(N'2026-06-25T15:02:53.733' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[SystemNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [MoTa]) VALUES (1, N'Apple', N'Thương hiệu Apple')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [MoTa]) VALUES (2, N'Samsung', N'Thương hiệu Samsung')
INSERT [dbo].[ThuongHieu] ([MaThuongHieu], [TenThuongHieu], [MoTa]) VALUES (3, N'Asus', N'Thương hiệu Asus')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[TikTokShopConfig] ON 

INSERT [dbo].[TikTokShopConfig] ([Id], [IsConnected], [ShopName], [ShopId], [LastSyncTime], [SyncStatus]) VALUES (1, 1, N'NovaTech TikTok Shop (Fake)', N'TT-NOVATECH', CAST(N'2026-07-01T10:09:21.913' AS DateTime), N'Đã đồng bộ')
SET IDENTITY_INSERT [dbo].[TikTokShopConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[TikTokSyncLog] ON 

INSERT [dbo].[TikTokSyncLog] ([Id], [Type], [Message], [Status], [Timestamp]) VALUES (4, N'Sản phẩm', N'Đồng bộ thành công dữ liệu sản phẩm với TikTok API.', N'Thành công', CAST(N'2026-06-25T20:58:01.267' AS DateTime))
INSERT [dbo].[TikTokSyncLog] ([Id], [Type], [Message], [Status], [Timestamp]) VALUES (5, N'Đơn hàng', N'Đồng bộ đơn hàng thành công với TikTok Shop. Đã thêm mới 0 đơn, cập nhật 0 đơn.', N'Thành công', CAST(N'2026-06-25T20:59:50.417' AS DateTime))
INSERT [dbo].[TikTokSyncLog] ([Id], [Type], [Message], [Status], [Timestamp]) VALUES (7, N'Cập nhật đơn hàng', N'Đồng bộ cập nhật trạng thái đơn hàng TikTok Shop #TT-202606252039 sang ''Chờ duyệt''.', N'Thành công', CAST(N'2026-06-25T21:10:46.907' AS DateTime))
SET IDENTITY_INSERT [dbo].[TikTokSyncLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [GiaTri], [SoLuong], [NgayBatDau], [NgayKetThuc], [HinhThuc], [DonHangToiThieu], [TrangThai]) VALUES (1, N'SALE10', CAST(100000.00 AS Decimal(18, 2)), 98, CAST(N'2026-06-24T03:47:17.480' AS DateTime), CAST(N'2026-07-24T03:47:17.480' AS DateTime), N'Giảm % hóa đơn', CAST(0.00 AS Decimal(18, 2)), N'Đang diễn ra')
INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [GiaTri], [SoLuong], [NgayBatDau], [NgayKetThuc], [HinhThuc], [DonHangToiThieu], [TrangThai]) VALUES (2, N'SALE20', CAST(200000.00 AS Decimal(18, 2)), 50, CAST(N'2026-06-24T03:47:17.480' AS DateTime), CAST(N'2026-08-24T03:47:17.480' AS DateTime), N'Giảm % hóa đơn', CAST(0.00 AS Decimal(18, 2)), N'Đang diễn ra')
INSERT [dbo].[Voucher] ([MaVoucher], [MaCode], [GiaTri], [SoLuong], [NgayBatDau], [NgayKetThuc], [HinhThuc], [DonHangToiThieu], [TrangThai]) VALUES (3, N'VIP500', CAST(500000.00 AS Decimal(18, 2)), 2, CAST(N'2026-06-24T03:47:17.480' AS DateTime), CAST(N'2026-09-24T03:47:17.480' AS DateTime), N'Giảm % hóa đơn', CAST(0.00 AS Decimal(18, 2)), N'Đang diễn ra')
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET IDENTITY_INSERT [dbo].[YeuThich] ON 

INSERT [dbo].[YeuThich] ([Id], [MaKhachHang], [MaSanPham], [NgayTao]) VALUES (1, 15, 1, CAST(N'2026-06-30T10:38:51.943' AS DateTime))
INSERT [dbo].[YeuThich] ([Id], [MaKhachHang], [MaSanPham], [NgayTao]) VALUES (2, 15, 2, CAST(N'2026-06-30T10:49:51.660' AS DateTime))
INSERT [dbo].[YeuThich] ([Id], [MaKhachHang], [MaSanPham], [NgayTao]) VALUES (4, 8, 1, CAST(N'2026-07-01T13:59:11.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[YeuThich] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SoQuy__0A2A24EA5A43A561]    Script Date: 7/28/2026 6:05:34 PM ******/
ALTER TABLE [dbo].[SoQuy] ADD UNIQUE NONCLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Voucher__152C7C5CE218BAEE]    Script Date: 7/28/2026 6:05:34 PM ******/
ALTER TABLE [dbo].[Voucher] ADD UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CauHinh] ADD  DEFAULT ('NovaTech') FOR [TenCuaHang]
GO
ALTER TABLE [dbo].[ChamCong] ADD  DEFAULT (N'Đang làm') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT ('') FOR [Sender]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT ('') FOR [Message]
GO
ALTER TABLE [dbo].[ChatMessage] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[CongNoNCC] ADD  DEFAULT ((0)) FOR [DaThanhToan]
GO
ALTER TABLE [dbo].[CongNoNCC] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[CustomerInboxMessage] ADD  DEFAULT ('customer') FOR [Sender]
GO
ALTER TABLE [dbo].[CustomerInboxMessage] ADD  DEFAULT ('') FOR [Text]
GO
ALTER TABLE [dbo].[CustomerInboxMessage] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[CustomerInboxMessage] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[CustomerInboxMessage] ADD  DEFAULT ((0)) FOR [IsAutoReply]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT ((0)) FOR [CustomerId]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT ('Store') FOR [Channel]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT (N'Chat hỗ trợ NovaTech') FOR [Subject]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT ('Unread') FOR [Status]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[CustomerInboxThread] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] ADD  DEFAULT (N'Store') FOR [Kenh]
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] ADD  DEFAULT (N'Chat hỗ trợ NovaTech') FOR [ChuDe]
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] ADD  DEFAULT (N'Chưa đọc') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] ADD  DEFAULT (N'Trung bình') FOR [MucDoUuTien]
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] ADD  DEFAULT (getdate()) FOR [CapNhatLuc]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('') FOR [Code]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('Nh?p kho') FOR [Type]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('') FOR [ProductSKU]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('') FOR [ProductName]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('') FOR [Creator]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT ('') FOR [Note]
GO
ALTER TABLE [dbo].[InventoryTransaction] ADD  DEFAULT (N'Đã duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ('123456') FOR [MatKhau]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (N'Hoạt động') FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT ('') FOR [TenKho]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[KhoHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  DEFAULT (getdate()) FOR [NgayNhap]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ('') FOR [TenBienThe]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((0)) FOR [GiaBan]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((0)) FOR [GiaNhap]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT (N'Đang bán') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SanPhamBienThe] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[SoQuy] ADD  DEFAULT (getdate()) FOR [NgayGiaoDich]
GO
ALTER TABLE [dbo].[SoQuy] ADD  DEFAULT (N'Đã duyệt') FOR [TrangThai]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  DEFAULT ('') FOR [Title]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  DEFAULT ('') FOR [Message]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  DEFAULT ('Thông tin') FOR [Type]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[SystemNotification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[ThongSoKyThuat] ADD  DEFAULT ('') FOR [NhomThongSo]
GO
ALTER TABLE [dbo].[ThongSoKyThuat] ADD  DEFAULT ('') FOR [TenThongSo]
GO
ALTER TABLE [dbo].[ThongSoKyThuat] ADD  DEFAULT ('') FOR [GiaTri]
GO
ALTER TABLE [dbo].[ThongSoKyThuat] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[TikTokShopConfig] ADD  DEFAULT ((0)) FOR [IsConnected]
GO
ALTER TABLE [dbo].[TikTokShopConfig] ADD  DEFAULT ('') FOR [ShopName]
GO
ALTER TABLE [dbo].[TikTokShopConfig] ADD  DEFAULT ('') FOR [ShopId]
GO
ALTER TABLE [dbo].[TikTokShopConfig] ADD  DEFAULT (getdate()) FOR [LastSyncTime]
GO
ALTER TABLE [dbo].[TikTokShopConfig] ADD  DEFAULT ('Chua k?t n?i') FOR [SyncStatus]
GO
ALTER TABLE [dbo].[TikTokSyncLog] ADD  DEFAULT ('S?n ph?m') FOR [Type]
GO
ALTER TABLE [dbo].[TikTokSyncLog] ADD  DEFAULT ('') FOR [Message]
GO
ALTER TABLE [dbo].[TikTokSyncLog] ADD  DEFAULT ('Thành công') FOR [Status]
GO
ALTER TABLE [dbo].[TikTokSyncLog] ADD  DEFAULT (getdate()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[TinNhanKhachHang] ADD  DEFAULT (getdate()) FOR [ThoiGianGui]
GO
ALTER TABLE [dbo].[TinNhanKhachHang] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[TinNhanKhachHang] ADD  DEFAULT ((0)) FOR [LaTraLoiTuDong]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (N'Giảm % hóa đơn') FOR [HinhThuc]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT ((0)) FOR [DonHangToiThieu]
GO
ALTER TABLE [dbo].[Voucher] ADD  DEFAULT (N'Đang diễn ra') FOR [TrangThai]
GO
ALTER TABLE [dbo].[YeuThich] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[CongNoNCC]  WITH CHECK ADD  CONSTRAINT [FK_CongNoNCC_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[CongNoNCC] CHECK CONSTRAINT [FK_CongNoNCC_NhaCungCap]
GO
ALTER TABLE [dbo].[CongNoNCC]  WITH CHECK ADD  CONSTRAINT [FK_CongNoNCC_PhieuNhap] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CongNoNCC] CHECK CONSTRAINT [FK_CongNoNCC_PhieuNhap]
GO
ALTER TABLE [dbo].[CustomerInboxMessage]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInboxMessage_CustomerInboxThread] FOREIGN KEY([ThreadId])
REFERENCES [dbo].[CustomerInboxThread] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerInboxMessage] CHECK CONSTRAINT [FK_CustomerInboxMessage_CustomerInboxThread]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[DonHang_Voucher]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[DonHang_Voucher]  WITH CHECK ADD FOREIGN KEY([MaVoucher])
REFERENCES [dbo].[Voucher] ([MaVoucher])
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_HoiThoaiKhachHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoiThoaiKhachHang] CHECK CONSTRAINT [FK_HoiThoaiKhachHang_KhachHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaThuongHieu])
REFERENCES [dbo].[ThuongHieu] ([MaThuongHieu])
GO
ALTER TABLE [dbo].[SanPhamBienThe]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamBienThe_SanPham] FOREIGN KEY([MaSanPhamCha])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamBienThe] CHECK CONSTRAINT [FK_SanPhamBienThe_SanPham]
GO
ALTER TABLE [dbo].[SoQuy]  WITH CHECK ADD  CONSTRAINT [FK_SoQuy_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SoQuy] CHECK CONSTRAINT [FK_SoQuy_DonHang]
GO
ALTER TABLE [dbo].[SoQuy]  WITH CHECK ADD  CONSTRAINT [FK_SoQuy_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[SoQuy] CHECK CONSTRAINT [FK_SoQuy_NhanVien]
GO
ALTER TABLE [dbo].[ThongSoKyThuat]  WITH CHECK ADD  CONSTRAINT [FK_ThongSoKyThuat_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongSoKyThuat] CHECK CONSTRAINT [FK_ThongSoKyThuat_SanPham]
GO
ALTER TABLE [dbo].[TinNhanKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_TinNhanKhachHang_HoiThoaiKhachHang] FOREIGN KEY([MaHoiThoai])
REFERENCES [dbo].[HoiThoaiKhachHang] ([MaHoiThoai])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TinNhanKhachHang] CHECK CONSTRAINT [FK_TinNhanKhachHang_HoiThoaiKhachHang]
GO
